body {
    display: flex;
    justify-content: center;
}

.drawArea {
    height: 80vh;
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
}

.row {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.square {
    aspect-ratio: 1/1;
}